/*
# Custom Beeper.app style
This file will be injected as a <style> tag
After making your changes, type "Reload custom CSS" in the command bar
To open dev tools, open the command bar and type "open console"
*/

:root {
  /*
  --font-family: system-ui, "Segoe UI", Roboto, "Apple Color Emoji", TwemojiFlags, "Segoe UI Emoji", "Segoe UI Symbol", Twemoji, sans-serif, "Noto Color Emoji";
  */
    --border-radius-25: 0px;
    --border-radius-50: 0px;
    --border-radius-75: 0px;
    --border-radius-100: 0px;
    --border-radius-200: 0px;
    --border-radius-conversation-bubble: 0px;

    --font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Color Emoji", "Apple Color Emoji", "Twemoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

*, *::before, *::after {
  border-radius: 0 !important;
}

.custom-scrollbars ::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.pdf-message .pdf-preview {
  width: fit-content;
}

@media (prefers-color-scheme: dark) {
  :root {}
}
