user-config/dot-config/qutebrowser/*
!user-config/dot-config/qutebrowser/config.py
user-config/dot-config/BeeperTexts/*
!user-config/dot-config/BeeperTexts/config.json
!user-config/dot-config/BeeperTexts/custom.css
